.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 24px 16px;
  line-height: 1.5;
  color: #212121;
  overflow-y: auto;
  box-sizing: border-box;

  > .intro {
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    > img {
      width: 100%;
      max-width: 375px;
      border-radius: 8px;
    }

    > div {
      > h1 {
        font-size: 1.75rem;
        font-weight: 500;
      }
    }
  }

  > section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  > section > article {
    flex: 1;
    min-width: 343px;
    max-width: 488px;
    padding: 16px;
    text-decoration: none;
    color: #212121;
    border-radius: 4px;
    background-color: #F5F5F5;
    box-sizing: border-box;

    > h1 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1.5rem;
      font-weight: 500;
    }

    > h3 {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;

      > a {
        display: flex;
      }
    }

    > div {
      margin-top: 8px;
    }

    .progress {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
    }

    .label {
      padding: 4px;
      font-size: 0.9rem;
      font-weight: 500;
      border-radius: 4px;

      &.common {
        background-color: #FFF59D;
      }

      &.done {
        background-color: #C8E6C9;
      }

      &.todo {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }

  > section > article:hover {
    background-color: #EEEEEE;
  }
}
